/* Global */
img{
    opacity: 1;
    width: 50%;
}

body{
    background: url(../img/polonez_car.png); 
}

/* Navigation */
a {
    background: tan;
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 40px;
}

li {
    display: inline;
}

ol li {
    display: block;
}

/* Layout */

/* Typography */
h1 {
    color: blue;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    font-size: 20px;
    border: 10px double black;
    width: 200px;
    padding: 20px;
    background: cyan;
}

h1, h2, h3, h4 {
    font-family: 'Rhodium Libre', serif;
}

p, ul, ol {
    font-family: 'Pragati Narrow', sans-serif;
}

/* Images */
.main_img {
    width: 100%;
}