/* Global */
img{
    opacity: 1;
    width: 50%;
}

body{
    background: url(../img/grey_wash_wall.png); 
}

/* Navigation */
a {
    background: lightgray;
    color: black;
    
    display: block;
    text-decoration: none;
    text-align: center;
    
    height: 40px;
    width: 100px;
    line-height: 40px;
}

a:hover {
    background: black;
    color: white;
    
    height: 60px;
}

li {
/*    display: inline;*/
    list-style: none;
    display: inline-block;
}

/*li*/
ol { 
/*    display: block;*/
    margin-top: 0;
}

/* Layout */

/* Typography */
h1 {
    color: navy;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p {
    font-size: 20px;
    border: 10px double black;
    width: 200px;
    padding: 20px;
    background: cyan;
}

h1, h2, h3, h4 {
    font-family: 'Rhodium Libre', serif;
}

p, ul, ol {
    font-family: 'Pragati Narrow', sans-serif;
}

/* Images */
.main_img {
    width: 100%;
}